.container{
    display: grid;
    grid-template-rows:repeat(3,1fr);
    width: 250px;
    height: fit-content;
    grid-gap: 20px;
    align-items: center;
    margin: 0 auto;
    margin-top: 30vh;
    border-radius: 10px;
    border: 1px solid whitesmoke;
    padding: 40px 10px 40px 10px;
    input{
        height: 50px;
        border-radius: 10px;
        font-size: 20px;
        padding: 0 0 0 10px;
        border: 1px solid whitesmoke;
        outline: none;
        background-color: whitesmoke;
        color: #333333;
        &:hover{
            background-color: #c4c4c4;
        }
    }
    button{
        border: 1px solid whitesmoke;
        outline: none;
        border-radius: 10px;
        padding: 10px ;
        font-size: 20px;
        color:black;
        background-color: whitesmoke;
        &:hover{
            background-color: #c4c4c4;
        }
    }
}