.header {
    width: 100%;
    height: 4.375rem;
    border-bottom: 1px solid whitesmoke;
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.userIcon {
    display: flex;
    align-items: center;
}


.icon {
    font-size: 1.75rem;
    color: #ffffff;
}
